<h2>Programming books list</h2>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
id="toggle-button pb-3 transition-colors duration-500" (click)="isShowing = !isShowing" onclick="this.classList.toggle('bg-red-500')" >
    <ng-container *ngIf="!isShowing">show books</ng-container>
    <ng-container *ngIf="isShowing">hide books</ng-container>
</button>

<ul *ngIf="isShowing">
    <ng-container *ngFor="let singleBook of books; let i=index">
        <app-book [book]="singleBook"></app-book>
    </ng-container>
    
</ul>



